    /* common   css part start  */
    * {
        margin: 0;
        padding: 0;
    }

    ul,
    ol {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    .container {
        width: 1320px;
        margin: 0 auto;

    }

    /*  common  css part end  */


    /* haeder css part start  */
    .head {
        height: 100px;
        display: flex;
    }

    .logo {
        width: 20%;
        padding-top: 30px;
    }

    .logo img {
        width: 185px;
        height: 41px;
    }

    .menu {
        width: 60%;
        padding-top: 43px;
    }

    .menu ul {
        display: flex;
        justify-content: center;
    }

    .menu ul li {
        padding: 0px 33px;
    }

    .menu ul li a {
        font-size: 16px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        color: black;
        transition: .7s;
    }

    .menu ul li a:hover {
        background-color: #bfe9f7;
        font-size: 22px;
    }

    .icons {
        width: 20%;
        padding-top: 43px;
    }

    .icons i {
        padding: 0 20px;
    }

    /*haeder  css part end  */

    /* background css part start  */
    #backgroundpart {
        background: url(../images/backgroud1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 316px;
    }

    .backgroundinfo {
        text-align: center;
    }

    .backgroundinfo img {
        margin-top: 80px;

    }

    .backgroundinfo h1 {
        font-size: 48px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
        color: black;
        margin-top: 20px;
    }

    .backgroundinfo h3 {
        font-size: 16px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        color: black;
        margin-top: 20px;
    }

    .backgroundinfo h3 i {
        font-size: 16px;
        color: black;
        margin: 0 15px;
    }

    .backgroundinfo h3 p {
        font-size: 16px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
        color: black;
        display: inline-block;
    }

    /* background  css part end  */

    /*viewsection  css part start  */
    .blogview{
        width: 817px;
        margin-top: 50px;
    }
    .iconinfo{
        display: flex;
        margin-top: 20px;
    }
    .user{
        display: flex;
        color: #9F9F9F;
    }
    .user p{
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        margin-left: 20px;
    }
    .calender{
        display: flex;
        color: #9F9F9F;
        margin-left: 40px;
    }
    .calender p{
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        margin-left: 20px;
    }
    .tag{
        display: flex;
        color: #9F9F9F;
        margin-left: 40px;
    }
    .tag p{
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        margin-left: 20px;
    }
    .blogview h1{
        font-size: 30px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
        color: black;
        margin-top: 20px;
    }
    .blogview h5{
        font-size: 15px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        color: black;
        margin-top: 20px;
        padding-right: 100px;
        text-align: justify;
    }
    .blogview h6{
        font-size: 15px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        color: black;
        margin-top: 20px;
    }
    .blogline{
        width: 75px;
        height: 1.5px;
        background-color: #9F9F9F;
        margin-top: 10px;
    }
    /* rightside start  */
    .viewinfo{
        display: flex;
        justify-content: space-between;
    }
    .rightside{
        margin-top: 50px;
    }
    .search{
        width: 311px;
        height: 58px;
        border: 2px solid #9F9F9F;
        border-radius: 10px;
    }
    .search i{
        margin-left: 280px;
        margin-top:25px ;
    }
    .catagories{
        margin-top: 50px;
        margin-left: 40px;
        width: 240px;
    }
    .catagories h2{
        font-size: 24px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
        color: black;
    }
    .carft{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    .catagories p{
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        color: #9F9F9F;
    }
    .recentpost{
        margin-top:120px ;
    }
    .recentpost h2{
        font-size: 24px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
        color: black;
    }
    .post{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 241px;
    }
    .postinfo{
        width: 149px;
    }
    .postinfo h4{
        font-size: 14px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        color: black;
        margin-top: 10px;
    }
    .postinfo p{
        font-size: 12px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        color: #9F9F9F;
        margin-top: 10px;
    }
    /*Viewsectoin  css part end  */

    /*  css part start  */

    /*  css part end  */

    /*  support css part start  */
    #supportpart {
        background-color: #FAF3EA;
        height: 270px;
        margin-top: 20px;
    }

    .supportinfo {
        display: flex;
        justify-content: space-between;
        width: 1280px;
    }

    .s_content {
        display: flex;
        margin-top: 105px;
    }

    .s_txt {
        margin-left: 10px;
    }

    .s_txt h2 {
        color: #242424;
        font-size: 25px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
    }

    .s_txt p {
        color: #898989;
        font-size: 20px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        margin-top: 10px;
    }

    /*  support  css part end  */

    /* footer css part start  */
    .footerarea {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
        width: 1085px;
    }

    .leftinfo p {
        font-size: 16px;
        font-weight: 400;
        color: #9F9F9F;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
        padding-top: 55px;
    }

    .leftinfo h2 {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
    }

    .linkinfo {
        display: flex;
        flex-direction: column;
    }

    .linkinfo h4 {
        font-size: 16px;
        font-weight: 400;
        color: #9F9F9F;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
        padding-bottom: 15px;
    }

    .linkinfo a {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
        margin-top: 20px;
    }

    .helpinfo {
        display: flex;
        flex-direction: column;
    }

    .helpinfo h4 {
        font-size: 16px;
        font-weight: 400;
        color: #9F9F9F;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
        padding-bottom: 15px;
    }

    .helpinfo a {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
        margin-top: 20px;
    }

    .rightinfo h3 {
        font-size: 16px;
        font-weight: 400;
        color: #9F9F9F;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
    }

    .cont {
        display: inline-block;
        margin-top: 35px;
    }

    .cont input {
        border: none;
        font-size: 14px;
        font-weight: 400;
        color: #9F9F9F;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
        background: none;
    }

    .cont a {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
    }

    .line {
        width: 159px;
        height: 1px;
        background-color: #000000;

    }

    .lineone {
        width: 63px;
        height: 1px;
        background-color: #000000;
        margin-left: 176px;
    }

    .footerdetails span {
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        line-height: 150%;
        font-family: "Poppins", sans-serif;
        margin-top: 20px;
    }

    .fotterline {
        width: 1080px;
        height: 1px;
        background-color: #D9D9D9;
        margin: 20px 0;
    }

    /*footer  css part end  */